.border {
  border: solid 1px black;
}

.navigation {
}

.navigation-active {
  color: red;
}

#wrap {
  height: 100% !important ;
}

.row1 {
  height: 90%;
}
.row2 {
  height: 10%;
}

html,
body {
  height: 100vh;
}
#root {
  height: 100vh;
}

.sendmessage {
  height: 100%;
}

#link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.join {
  position: absolute;
  top: 45%;
  left: 30%;
}

.roomlist {
  position: absolute;
  top: 5%;
  left: 20%;
  overflow: hidden;
}
