.border {
  border: solid 1px black;
}

.navigation {
}

.navigation-active {
  color: #dddfd4;
  font-weight: bold;
  border-style: none;
  outline: 0;
}

#wrap {
  height: 100% !important ;
}

.row1 {
  height: 90%;
}
.row2 {
  height: 10%;
}

html,
body {
  height: 100vh;
}
#root {
  height: 100vh;
}

.sendmessage {
  height: 100%;
}

#link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  outline: 0;
}

li {
  list-style-type: none;
}

.join {
  position: absolute;
  top: 45%;
  left: 30%;
}

.roomlist {
  position: absolute;
  top: 5%;
  left: 20%;
  overflow: hidden;
}
div.roomlist {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #dddfd4;
  font-size: 20px;
}
.messagelist {
  background-color: #dddfd4;
}

.rooms {
  background-color: #3fb0ac;
}

.heavy {
  font-weight: bold;
}

button:focus {
  outline: 0 !important;
}
