.border {
  border: solid 1px black;
}

.navigation {
}

.navigation-active {
  color: #fae596;
  font-weight: bold;
  border-style: none;
  outline: 0;
}

#wrap {
  height: 100% !important ;
}

.row1 {
  height: 90%;
}
.row2 {
  height: 10%;
}

html,
body {
  height: 100vh;
}
#root {
  height: 100vh;
}

.sendmessage {
  height: 100%;
}

#link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  outline: 0;
}

li {
  list-style-type: none;
}

.join {
  position: absolute;
  top: 45%;
  left: 30%;
}

.roomlist {
  position: absolute;
  top: 5%;
  left: 20%;
  overflow: hidden;
}
div.roomlist {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #f6f8f9;
  font-size: 20px;
}
div.messagelist {
  background-color: rgb(255, 255, 255);
  overflow: scroll;
}

.rooms {
  background-color: #3fb0ac;
  overflow: scroll;
}

.heavy {
  font-weight: bold;
}

button:focus {
  outline: 0 !important;
}

p.messagelist {
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #f6f8f9;
}

.text {
  background-color: #3fb0ac;
  padding: 5px;
  border-radius: 8px;
}

.messagedetail {
  margin-top: 10px;
}
.sender {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #173e43;
}
input {
  background-color: #dddfd4;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #173e43;
  opacity: 1; /* Firefox */
}

/* Made with love by Mutiullah Samim*/

@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

/* Made with love by Mutiullah Samim*/

@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.card-signup {
  height: 480px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
.white {
  color: #f6f8f9;
}
